@CHARSET "UTF-8";

.lyra-grid {
    font-family: sans-serif;
    font-size: 1em;
    margin-left: 10px;
}


.lyra-grid .dgrid-header {
    background: none;
    margin: 0px 10px;
}


.lyra-grid .dgrid {
    border: none;
}
.dgrid-cell {
    border: none;
    font-family: Roboto;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: center;
    color: #21262c;
}
.lyra-grid .dgrid-header .dgrid-cell:hover {
    background: #e5e5ea;
    cursor: pointer;
    color: #fb6229;
    border: none;
}

.lyra-grid .dgrid-row {
    min-height: 50px;
    border-radius: 4px;
    background: #fff;
    margin: 10px;
    transition: all 0.2s ease;
}
.lyra-grid .dgrid-row:hover {
    cursor: pointer;
    background: #e5e5ea;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.22);
}
.lyra-grid .border-purple {
    border: solid 1px #5856d6;
    border-bottom: solid 3px #5856d6;
}
.lyra-grid .border-purple:hover{
    border: solid 1px #eeeefb;
    border-bottom: solid 3px #eeeefb;
}
.lyra-grid .border-purple:active{
    border: solid 1px #eeeefb;
    border-bottom: solid 3px #eeeefb;
}
.lyra-grid .border-red {
    border: solid 1px #de251d;
    border-bottom: solid 3px #de251d;
}
.lyra-grid .border-red:hover {
    border: solid 1px #fce9e8;
    border-bottom: solid 3px #fce9e8;
}
.lyra-grid .border-red:active {
    border: solid 1px #fce9e8;
    border-bottom: solid 3px #fce9e8;
}
.lyra-grid .border-green {
    border: solid 1px #4cd964;
    border-bottom: solid 3px #4cd964;
}
.lyra-grid .border-green:hover {
     border: solid 1px #eaf8eb;
     border-bottom: solid 3px #eaf8eb;
 }
.lyra-grid .border-green:active {
    border: solid 1px #eaf8eb;
    border-bottom: solid 3px #eaf8eb;
}
.lyra-grid .border-light-green {
    border: solid 1px #b8fdc3;
    border-bottom: solid 3px #b8fdc3;
}
.lyra-grid .border-light-green:hover {
    border: solid 1px #f8fff9;
    border-bottom: solid 3px #f8fff9;
}
.lyra-grid .border-light-green:active {
    border: solid 1px #f8fff9;
    border-bottom: solid 3px #f8fff9;
}
.lyra-grid .border-blue {
    border: solid 1px #5ac8fa;
    border-bottom: solid 3px #5ac8fa;
}
.lyra-grid .border-blue:hover {
    border: solid 1px #eefaff;
    border-bottom: solid 3px #eefaff;
}
.lyra-grid .border-blue:active {
    border: solid 1px #eefaff;
    border-bottom: solid 3px #eefaff;
}
.lyra-grid .border-white {
    border: solid 1px #ffffff;
    border-bottom: solid 3px #ffffff;
}
.lyra-grid .border-white:hover {
    border: solid 1px #e7e5dc;
    border-bottom: solid 3px #e7e5dc;
}
.lyra-grid .border-white:active {
    border: solid 1px #e7e5dc;
    border-bottom: solid 3px #e7e5dc;
}
.lyra-grid .dgrid-row:hover .dgrid-cell {
    color: #fb6229;
}
.lyra-grid .dgrid-scroller {
    background: #efeff4;
}
.lyra-grid .dgrid-scroller::-webkit-scrollbar {
    width: 15px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
}
.lyra-grid .dgrid {
    background: #efeff4;
}
.lyra-grid .dgrid-scroller::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #e5e5ea;
}
.lyra-grid .lyra-type-int div{
    text-align: center;
}
.lyra-grid .lyra-type-varchar div {
    text-align: center;
}
.lyra-grid .lyra-type-bit div {
    text-align: center;
}
.lyra-grid .lyra-type-real div {
    text-align: center;
}


.lyra-grid .dgrid-header th.dgrid-cell:hover {
    background-image: none;
    background-color: #FAFAFA;
}


.lyra-grid .dgrid .ui-icon {
    margin-top: 4px;
}

.lyra-grid .dgrid-header .dgrid-cell {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
}

.lyra-grid .sort-gap {
    width: 8px;
    display: inline-block;
}

.lyra-grid .dgrid-header .dgrid-cell .dgrid-resize-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lyra-grid .dgrid-hider-menu {
    width: 400px;
}

.lyra-grid .dgrid-hider-menu-check {
    margin-top: 5px;
}

.lyra-grid .dgrid-content .dgrid-cell {
    vertical-align: middle;
    height: 50px;
    text-align: center;
}

.lyra-grid .dgrid-content .dgrid-cell > div {
    white-space: normal;
    max-height: 55px;
}

.lyra-grid .dgrid-footer {
    background: none;
}

.lyra-grid .dgrid-footer .summary-row {
    background: none;
    border-top: 2px solid #DDD;
    color: initial;
}

.lyra-grid .dgrid-footer th.dgrid-cell:hover {
    background-image: none;
    background-color: #FAFAFA;
}

.lyra-grid .dgrid-footer .dgrid-cell {
    text-align: center;
    font-size: 0.9em;
    /*border-right-style: dotted;*/
    /*border-left-style: dotted;*/
    /*border-width: 0px 1px 0px 1px;*/
    /*border-color: #DDD;*/
    vertical-align: middle;
    font-weight: bold;
}


/*-------------------------------------------------------------------*/

.lyra-grid .a1 {
    background-image: url('./images/a1.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .a2 {
    background-image: url('./images/a2.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .a3 {
    background-image: url('./images/a3.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .a4 {
    background-image: url('./images/a4.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .a5 {
    background-image: url('./images/a5.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .a6 {
    background-image: url('./images/a6.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .a7 {
    background-image: url('./images/a7.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .a8 {
    background-image: url('./images/a8.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .a9 {
    background-image: url('./images/a9.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .d1 {
    background-image: url('./images/d1.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .d2 {
    background-image: url('./images/d2.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .d3 {
    background-image: url('./images/d3.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .d4 {
    background-image: url('./images/d4.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .d5 {
    background-image: url('./images/d5.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .d6 {
    background-image: url('./images/d6.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .d7 {
    background-image: url('./images/d7.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .d8 {
    background-image: url('./images/d8.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .d9 {
    background-image: url('./images/d9.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    text-align: center;
}

.lyra-grid .one {
    background-image: url('./images/one.png');
    background-repeat: no-repeat;
    width: 9px;
    height: 13px;
    text-align: center;
}

/*-------------------------------------------------------------------*/

.dojoDndItem {
    border-color: rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color, border-color;
    -moz-transition-property: background-color, border-color;
    transition-property: background-color, border-color;
}

.dojoDndItemOver {
    background-color: #abd6ff;
    background-image: url("images/standardGradient.png");
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    _background-image: none;
    padding: 1px;
    border: solid 1px #759dc0;
    color: #000000;
}

.dojoDndItemAnchor,
.dojoDndItemSelected {
    background-color: #cfe5fa;
    background-image: url("images/standardGradient.png");
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    _background-image: none;
    padding: 1px;
    border: solid 1px #759dc0;
    color: #000000;
}

.dojoDndItemBefore,
.dojoDndItemAfter {
    border-color: #759dc0;
}

table.dojoDndAvatar {
    border: 1px solid #b5bcc7;
    border-collapse: collapse;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.dojoDndAvatarHeader td {
    height: 20px;
    padding-left: 21px;
}

.dojoDndMove .dojoDndAvatarHeader,
.dojoDndCopy .dojoDndAvatarHeader {
    background-image: url("images/dnd.png");
    background-repeat: no-repeat;
    background-position: 2px -122px;
}

.dojoDndAvatarItem td {
    padding: 5px;
}

.dojoDndMove .dojoDndAvatarHeader {
    background-color: #f58383;
    background-position: 2px -103px;
}

.dojoDndCopy .dojoDndAvatarHeader {
    background-color: #f58383;
    background-position: 2px -68px;
}

.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
    background-color: #97e68d;
    background-position: 2px -33px;
}

.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
    background-color: #97e68d;
    background-position: 2px 2px;
}

/*-------------------------------------------------------------------*/



